.navbar-body{
    width:100%;
    height: 115px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.navbar-container{
    width: 90%;
    height: 90%;
    /* background-color: rgb(192, 125, 255); */
    display: flex;
    z-index: 3;
    justify-content: space-between;
}
.navbar-logo-img{
    height: 85px;
}
.navbar-logo{
    
    font-family: 'Lobster', cursive;
    font-size: 4.3rem;
    font-weight: bold;
}
.navbar-logo-content{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    /* background-color: rgb(255, 230, 0); */
    color: #3E8E7E;
}
.navbar-links{
    width: 350px;
    /* background-color: violet; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-links__content, .navbar-links-responsive__content{
    height: 98%;
    width: 100%;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.2rem;
    font-family: 'Lobster', cursive;
}
.navbar-links__content-link{
    text-decoration: none;
    color:#64c7a9;
   
}
.navbar-links__content-home{
    width: 120px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-links__content-addTask{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    background-color: #fabc5160;
    border-radius: 30px;  
}
.navbar-links__hamburger_logo{
    width: 70px;
    display: none;

}
.navbar-links-responsive__content{
    position:absolute;
    width: 100%;
    height: 110px;
    padding: 20px;
    flex-direction: column;
    z-index: -1;
    background-color: rgb(255, 255, 255);
    top:-150px;
}

@media only screen and (max-width:829px){
    .navbar-links__content{
        display: none;
    }
    .navbar-links__hamburger_logo{
        display: flex;
    }
    .navbar-links{
        justify-content: space-between;
    }
    .navbar-links-responsive__content{
        
        z-index: 2;
        top:110px;
    }

}
